body {
    background-image: url('IMG-20240812-WA0008.jpg'); /* Sesuaikan jalur dengan lokasi foto Anda */
    background-size: cover; /* Mengatur gambar agar menutupi seluruh background */
    background-position: center; /* Mengatur posisi gambar di tengah */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}


<head>
    .form-input {
    width: 100%;
    box-sizing: border-box; /* Agar padding termasuk dalam lebar */
    padding: 10px; /* Menambahkan padding */
    margin-bottom: 10px; /* Menambahkan jarak antar elemen ubah*/
    }
        }
    </style>
</head>
